.receipt-detail-wr {
    min-height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}
.receipt-detail-content {
    padding: 20px;
    border: 1px solid #e5e5e5c4;
    background: #fff;
    border-radius: 6px;
}
.add-receipt-detail {
    padding: 20px;
    border: 1px solid #ccc;
}