.widget {
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    background-color: #FF9F43;
}
.widget h4 {
    font-size: 24px;
}
.widget h5 {
    font-size: 14px;
    font-weight: 400;
    position: relative;
}
.widget-icon {
    transition: 0.2s all ease-in-out;
    font-size: 50px;

}
.widget:hover .widget-icon {
    transform: scale(1.2);

}

.widget-2 {
    background-color: #00CFE8;
}
.widget-3 {
    background-color: #1B2850
}
.widget-4 {
    background-color: #28C76F;
}
