/* .wrapper {
     width: 356px; 
} */
.sidebar-wr {
    background: #212529 !important;
    /* position: relative;
    z-index: 1;*/
    height: 100vh; 
    min-width: 300px;
}
ul.sidebar-list {
    list-style: none;
    padding: 0 20px;
}
.sidebar-item {
    height: 44px;
    display: flex;
    align-items: center;
    background: none;
    margin-bottom: 10px;
    border-radius: 7px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.sidebar-item a {
   text-decoration: none;
   color: #637381; 
   font-weight: 500;
   width: 100%;
}
.sidebar-item:hover {
    background: #1B2850;
}
.sidebar-item:hover a{
    color: #fff;
}
.sidebar-item.active {
    background: #1B2850;
}
.sidebar-item.active  a {
    color: #fff;
}
svg.sidebar-icon {
    margin-right: 10px;
    transform: translateY(-1px);
}

main {
    width: 100%;
    height: 100vh;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container-sidebar {
    display: flex;
    width: 100%;
    /* background-color: #445489; */
}

main {
    flex: 1;
    width: 100%;
}
.main-head {
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-container {
    padding: 25px;
    background: #fafbfe;
    height: calc(100% - 60px);
}

.sidebar {
    /* position: relative;
    z-index: 1;*/
    height: 100vh; 
    min-width: 50px;
    color: #fff;
    transition: all 0.5s;
    border-right: 1px solid #ccc;
    width: 270px;
}

.top-section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    font-size: 25px;
    display: flex;
    margin-left: 30px;
}

.link {
    height: 44px;
    display: flex;
    align-items: center;
    background: none;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5;
}
p.welcome-dashboard {
    font-size: 20px;
    color: #637381;
    margin: 0;
}
.welcome-dashboard span {
    color: #000;

}
.logour-btn {
    padding: 8px 14px;
    color: #fff;
    background: #000000;
    border-radius: 6px;
    cursor: pointer;
}
