.sidebar-wr {
    background: #212529 !important;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 300px;
}
ul.sidebar-list {
    list-style: none;
    padding: 0 20px;
}
li.sidebar-item {
    height: 44px;
    display: flex;
    align-items: center;
    background: none;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.sidebar-item.active {
    background: #fff;
    color: #000;
}
svg.sidebar-icon {
    margin-right: 10px;
    transform: translateY(1px);
}